    {{#each this}}
      <div class="country__image">
        <img src='{{flags.svg}}' alt="{{name.official}} flag" width="60px" style="margin-right: 10px;">
        <p class="country__name" style="font-size: 30px; font-weight:bold ">{{name.official}}</p>
      </div>
      <p><b>Capital:</b> {{capital}}</p>
      <p><b>Population:</b> {{population}}</p>
      <p><b>Languages:</b>
      {{#each languages}}   
        <span>{{this}}{{#unless @last}},{{/unless}}
</span>
      {{/each}}
      </p>
    {{/each}}