    {{#each this}}
      <div class="country__image">
        <img src='{{flags.svg}}' alt="{{name.official}} flag" width="60px" height="30px">
        <p class="country__name">{{name.official}}</p>
      </div>
      <p class="country__information">Capital: {{capital}}</p>
      <p class="country__information">Population: {{population}}</p>
      <p class="country__information">Languages:
      {{#each languages}}
        <span>{{this}}</span>
      {{/each}}
      </p>
    {{/each}}